body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

h1 {
    color: #9896f1;
    font-weight: bolder;
    font-size: 40px;
}

h2 {
    font-weight: bolder;
    color: #9896f1;
    font-size: 30px;
}

h3 {
    font-weight: bolder;
    color: #9896f1;
}

i {
    font-size: 40px;
    color: #8ef6e4;
}

.style-button {
    background-color: #9896f1;
    color: #fff;
    font-weight: bolder;
    border: #9896f1;
}

.style-button:hover {
    background-color: #8ef6e4;
    border: solid #8ef6e4;
}

.style-input {
    border: solid #9896f1;
}

.forecast-subtitle {
    color: #9896f1;
    margin-top: 15px;
}

.icon-header {
    color: #edb1f1;
}

.container {
    text-align: center;
}

.search-input {
    margin-top: 50px;
}

.main-forecast {
    border: solid 1px #d59bf6;
    border-radius: 10px;
    background-color: #d59bf6;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 30px;
}